<div id="heading-breadcrumbs">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">Support</h1>
      </div>
      <div class="col-md-5">
        <ul class="breadcrumb d-flex justify-content-end">
          <li class="breadcrumb-item">
            <a routerLink="/">Home</a>
          </li>
          <li class="breadcrumb-item active">Support</li>
        </ul>
      </div>
    </div>
  </div>
</div>
  
<div id="content">
  <div class="container">
    <section>
      <div class="row bar">
          <div class="col-md-12 text-center">
            <div class="alert alert-info">Coming Soon...</div>
          </div>
        </div>
    </section>
  </div>
</div>

