<header>

    <!-- *** TOP ***
_________________________________________________________ -->
    <div id="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-5 contact">
                    <p class="hidden-sm hidden-xs">Contact us on +91 9322510636  or almedequip@gmail.com</p>
                    <p class="hidden-md hidden-lg">
                        <a href="#" data-animate-hover="pulse">
                            <i class="fa fa-phone"></i>
                        </a>
                        <a href="#" data-animate-hover="pulse">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </p>
                </div>
                <div class="col-xs-7">
                    <div class="social">
                        <a href="#" class="external facebook" data-animate-hover="pulse">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" class="external gplus" data-animate-hover="pulse">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="#" class="external twitter" data-animate-hover="pulse">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" class="email" data-animate-hover="pulse">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </div>

                    <div class="login">
                        <a href="#" data-toggle="modal" data-target="#login-modal">
                            <i class="fa fa-sign-in"></i>
                            <span class="hidden-xs text-uppercase">Sign in</span>
                        </a>
                        <a href="customer-register.html">
                            <i class="fa fa-user"></i>
                            <span class="hidden-xs text-uppercase">Sign up</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- *** TOP END *** -->

    <!-- *** NAVBAR ***
    _________________________________________________________ -->

    <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

        <div class="navbar navbar-default yamm" role="navigation" id="navbar">

            <div class="container">
                <div class="navbar-header">

                    <a class="navbar-brand home" href="index-2.html">
                        <img src="assets/img/logo.png" alt="Universal logo" class="hidden-xs hidden-sm">
                        <img src="assets/img/logo-small.png" alt="Universal logo" class="visible-xs visible-sm">
                        <span class="sr-only">Almed - go to homepage</span>
                    </a>
                    <div class="navbar-buttons">
                        <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-align-justify"></i>
                        </button>
                    </div>
                </div>
                <!--/.navbar-header -->

                <div class="navbar-collapse collapse" id="navigation">

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown active">
                            <a routerLink="dashboard">Home</a>
                        </li>
                        <li class="dropdown">
                            <a routerLink="dashboard">About us</a>
                        </li>
                        <li class="dropdown use-yamm yamm-fw">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <img src="assets/img/template-easy-customize.png" class="img-responsive hidden-xs" alt="">
                                            </div>
                                            <div class="col-sm-3">
                                                <h5>Shortcodes</h5>
                                                <ul>
                                                    <li>
                                                        <a href="template-accordions.html">Accordions</a>
                                                    </li>
                                                    <li>
                                                        <a href="template-alerts.html">Alerts</a>
                                                    </li>
                                                    <li>
                                                        <a href="template-buttons.html">Buttons</a>
                                                    </li>
                                                    <li>
                                                        <a href="template-content-boxes.html">Content boxes</a>
                                                    </li>
                                                    <li>
                                                        <a href="template-blocks.html">Horizontal blocks</a>
                                                    </li>
                                                    <li>
                                                        <a href="template-pagination.html">Pagination</a>
                                                    </li>
                                                    <li>
                                                        <a href="template-tabs.html">Tabs</a>
                                                    </li>
                                                    <li>
                                                        <a href="template-typography.html">Typography</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <h5>Header variations</h5>
                                                <ul>
                                                    <li>
                                                        <a href="template-header-default.html">Default sticky header</a>
                                                    </li>
                                                    <li>
                                                        <a href="template-header-nosticky.html">No sticky header</a>
                                                    </li>
                                                    <li>
                                                        <a href="template-header-light.html">Light header</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown use-yamm yamm-fw">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <img src="assets/img/template-homepage.png" class="img-responsive hidden-xs" alt="">
                                            </div>
                                            <div class="col-sm-3">
                                                <h5>Portfolio</h5>
                                                <ul>
                                                    <li>
                                                        <a href="portfolio-2.html">2 columns</a>
                                                    </li>
                                                    <li>
                                                        <a href="portfolio-no-space-2.html">2 columns with negative space</a>
                                                    </li>
                                                    <li>
                                                        <a href="portfolio-3.html">3 columns</a>
                                                    </li>
                                                    <li>
                                                        <a href="portfolio-no-space-3.html">3 columns with negative space</a>
                                                    </li>
                                                    <li>
                                                        <a href="portfolio-4.html">4 columns</a>
                                                    </li>
                                                    <li>
                                                        <a href="portfolio-no-space-4.html">4 columns with negative space</a>
                                                    </li>
                                                    <li>
                                                        <a href="portfolio-detail.html">Portfolio - detail</a>
                                                    </li>
                                                    <li>
                                                        <a href="portfolio-detail-2.html">Portfolio - detail 2</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <h5>About</h5>
                                                <ul>
                                                    <li>
                                                        <a href="about.html">About us</a>
                                                    </li>
                                                    <li>
                                                        <a href="team.html">Our team</a>
                                                    </li>
                                                    <li>
                                                        <a href="team-member.html">Team member</a>
                                                    </li>
                                                    <li>
                                                        <a href="services.html">Services</a>
                                                    </li>
                                                </ul>
                                                <h5>Marketing</h5>
                                                <ul>
                                                    <li>
                                                        <a href="packages.html">Packages</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a routerLink="dashboard">Portfolio</a>
                        </li>
                        <li class="dropdown">
                            <a routerLink="dashboard">Contact us</a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->



                <div class="collapse clearfix" id="search">

                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">

                                <button type="submit" class="btn btn-template-main">
                                    <i class="fa fa-search"></i>
                                </button>

                            </span>
                        </div>
                    </form>

                </div>
                <!--/.nav-collapse -->

            </div>


        </div>
        <!-- /#navbar -->

    </div>

    <!-- *** NAVBAR END *** -->

</header>

<!-- *** LOGIN MODAL ***
_________________________________________________________ -->

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog modal-sm">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="Login">Customer login</h4>
            </div>
            <div class="modal-body">
                <form action="http://universal.ondrejsvestka.cz/1-0/customer-orders.html" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" id="email_modal" placeholder="email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password_modal" placeholder="password">
                    </div>

                    <p class="text-center">
                        <button class="btn btn-template-main">
                            <i class="fa fa-sign-in"></i> Log in</button>
                    </p>

                </form>

                <p class="text-center text-muted">Not registered yet?</p>
                <p class="text-center text-muted">
                    <a href="customer-register.html">
                        <strong>Register now</strong>
                    </a>! It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p>

            </div>
        </div>
    </div>
</div>

<!-- *** LOGIN MODAL END *** -->