<div id="heading-breadcrumbs">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">Portfolio item detail</h1>
      </div>
      <div class="col-md-5">
        <ul class="breadcrumb d-flex justify-content-end">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Portfolio item detail</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="content">
  <div class="container">
    <section class="no-mb bar">
      <div class="row">
        <div class="col-md-12">
          <p class="lead no-mb">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        </div>
      </div>
    </section>
    <section>
      <div class="project owl-carousel">
        <div class="item"><img src="img/main-slider1.jpg" alt="" class="img-fluid"></div>
        <div class="item"><img src="img/main-slider2.jpg" alt="" class="img-fluid"></div>
        <div class="item"><img src="img/main-slider3.jpg" alt="" class="img-fluid"></div>
        <div class="item"><img src="img/main-slider4.jpg" alt="" class="img-fluid"></div>
      </div>
    </section>
    <section class="bar">
      <div class="row portfolio-project">
        <div class="col-md-8">
          <div class="heading">
            <h3>Project description</h3>
          </div>
          <p>Bringing unlocked me an striking ye perceive. Mr by wound hours oh happy. Me in resolution pianoforte continuing we. Most my no spot felt by no. He he in forfeited furniture sweetness he arranging. Me tedious so to behaved written account ferrars moments. Too objection for elsewhere her preferred allowance her. Marianne shutters mr steepest to me. Up mr ignorant produced distance although is sociable blessing. Ham whom call all lain like.</p>
          <p>To sorry world an at do spoil along. Incommode he depending do frankness remainder to. Edward day almost active him friend thirty piqued. People as period twenty my extent as. Set was better abroad ham plenty secure had horses. Admiration has sir decisively excellence say everything inhabiting acceptance. Sooner settle add put you sudden him.</p>
        </div>
        <div class="col-md-4 project-more">
          <div class="heading">
            <h3>More</h3>
          </div>
          <h4>Client</h4>
          <p>Pietro Filippi</p>
          <h4>Services</h4>
          <p>Consulting, Webdesign, Print</p>
          <h4>Technologies</h4>
          <p>PHP, HipHop, Break-dance</p>
          <h4>Dates</h4>
          <p>10/2013 - 06/2014</p>
        </div>
      </div>
    </section>
    <div class="bar pt-0">                       
      <section>
        <div class="row portfolio">
          <div class="col-md-12">
            <div class="heading">
              <h3>Related projects</h3>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box-image">
              <div class="image"><img src="img/portfolio-1.jpg" alt="" class="img-fluid">
                <div class="overlay d-flex align-items-center justify-content-center">
                  <div class="content">
                    <div class="name no-mb">
                      <h3><a href="portfolio-detail.html" class="color-white">Portfolio item</a></h3>
                    </div>
                    <div class="text">
                      <p class="d-none">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                      <p class="buttons"><a href="portfolio-detail.html" class="btn btn-template-outlined-white">View</a><a href="#" class="btn btn-template-outlined-white">Website</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box-image">
              <div class="image"><img src="img/portfolio-2.jpg" alt="" class="img-fluid">
                <div class="overlay d-flex align-items-center justify-content-center">
                  <div class="content">
                    <div class="name no-mb">
                      <h3><a href="portfolio-detail.html" class="color-white">Portfolio item</a></h3>
                    </div>
                    <div class="text">
                      <p class="d-none">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                      <p class="buttons"><a href="portfolio-detail.html" class="btn btn-template-outlined-white">View</a><a href="#" class="btn btn-template-outlined-white">Website</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box-image">
              <div class="image"><img src="img/portfolio-3.jpg" alt="" class="img-fluid">
                <div class="overlay d-flex align-items-center justify-content-center">
                  <div class="content">
                    <div class="name no-mb">
                      <h3><a href="portfolio-detail.html" class="color-white">Portfolio item</a></h3>
                    </div>
                    <div class="text">
                      <p class="d-none">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                      <p class="buttons"><a href="portfolio-detail.html" class="btn btn-template-outlined-white">View</a><a href="#" class="btn btn-template-outlined-white">Website</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box-image">
              <div class="image"><img src="img/portfolio-4.jpg" alt="" class="img-fluid">
                <div class="overlay d-flex align-items-center justify-content-center">
                  <div class="content">
                    <div class="name no-mb">
                      <h3><a href="portfolio-detail.html" class="color-white">Portfolio item</a></h3>
                    </div>
                    <div class="text">
                      <p class="d-none">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                      <p class="buttons"><a href="portfolio-detail.html" class="btn btn-template-outlined-white">View</a><a href="#" class="btn btn-template-outlined-white">Website</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
