<div id="heading-breadcrumbs">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">Portfolio</h1>
      </div>
      <div class="col-md-5">
        <ul class="breadcrumb d-flex justify-content-end">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Portfolio</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <section>
      <div class="row bar">
        <div class="col-md-12">
          <div class="heading">
            <h2>Portfolio</h2>
          </div>

          <p class="lead">Portfolio main content render here....</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs" *ngIf="portfolioCategories">
            <li [ngClass]="{ 'active': categoryQuery == category.code }" *ngFor="let category of portfolioCategories"><a data-toggle="tab" href="#{{ category.code }}">{{ category.name }}</a></li>
          </ul>
          
          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <h3>HOME</h3>
              <p>Some content.</p>
            </div>
            <div id="menu1" class="tab-pane fade">
              <h3>Menu 1</h3>
              <p>Some content in menu 1.</p>
            </div>
            <div id="menu2" class="tab-pane fade">
              <h3>Menu 2</h3>
              <p>Some content in menu 2.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row portfolio no-space">
        <div class="col-sm-6 col-md-3">
          <div class="box-image">
            <div class="image">
              <img src="img/portfolio-1.jpg" alt="" class="img-responsive">
            </div>
            <div class="bg"></div>
            <div class="name">
              <h3>
                <a href="portfolio-detail.html">Portfolio box-image</a>
              </h3>
            </div>
            <div class="text">
              <p class="hidden-sm hidden-lg hidden-md">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
              <p class="buttons">
                <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                <a href="#" class="btn btn-template-transparent-primary">Website</a>
              </p>
            </div>
          </div>
          <!-- /.box-image -->

        </div>

        <div class="col-sm-6 col-md-3">
          <div class="box-image">
            <div class="image">
              <img src="img/portfolio-2.jpg" alt="" class="img-responsive">
            </div>
            <div class="bg"></div>
            <div class="name">
              <h3>
                <a href="portfolio-detail.html">Portfolio box-image</a>
              </h3>
            </div>
            <div class="text">
              <p class="hidden-sm hidden-lg hidden-md">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
              <p class="buttons">
                <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                <a href="#" class="btn btn-template-transparent-primary">Website</a>
              </p>
            </div>
          </div>
          <!-- /.box-image -->

        </div>

        <div class="col-sm-6 col-md-3">
          <div class="box-image">
            <div class="image">
              <img src="img/portfolio-3.jpg" alt="" class="img-responsive">
            </div>
            <div class="bg"></div>
            <div class="name">
              <h3>
                <a href="portfolio-detail.html">Portfolio box-image</a>
              </h3>
            </div>
            <div class="text">
              <p class="hidden-sm hidden-lg hidden-md">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
              <p class="buttons">
                <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                <a href="#" class="btn btn-template-transparent-primary">Website</a>
              </p>
            </div>
          </div>
          <!-- /.box-image -->

        </div>

        <div class="col-sm-6 col-md-3">
          <div class="box-image">
            <div class="image">
              <img src="img/portfolio-4.jpg" alt="" class="img-responsive">
            </div>
            <div class="bg"></div>
            <div class="name">
              <h3>
                <a href="portfolio-detail.html">Portfolio box-image</a>
              </h3>
            </div>
            <div class="text">
              <p class="hidden-sm hidden-lg hidden-md">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
              <p class="buttons">
                <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                <a href="#" class="btn btn-template-transparent-primary">Website</a>
              </p>
            </div>
          </div>
          <!-- /.box-image -->
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="box-image">
            <div class="image">
              <img src="img/portfolio-5.jpg" alt="" class="img-responsive">
            </div>
            <div class="bg"></div>
            <div class="name">
              <h3>
                <a href="portfolio-detail.html">Portfolio box-image</a>
              </h3>
            </div>
            <div class="text">
              <p class="hidden-sm hidden-lg hidden-md">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
              <p class="buttons">
                <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                <a href="#" class="btn btn-template-transparent-primary">Website</a>
              </p>
            </div>
          </div>
          <!-- /.box-image -->
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="box-image">
            <div class="image">
              <img src="img/portfolio-6.jpg" alt="" class="img-responsive">
            </div>
            <div class="bg"></div>
            <div class="name">
              <h3>
                <a href="portfolio-detail.html">Portfolio box-image</a>
              </h3>
            </div>
            <div class="text">
              <p class="hidden-sm hidden-lg hidden-md">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
              <p class="buttons">
                <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                <a href="#" class="btn btn-template-transparent-primary">Website</a>
              </p>
            </div>
          </div>
          <!-- /.box-image -->
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="box-image">
            <div class="image">
              <img src="img/portfolio-7.jpg" alt="" class="img-responsive">
            </div>
            <div class="bg"></div>
            <div class="name">
              <h3>
                <a href="portfolio-detail.html">Portfolio box-image</a>
              </h3>
            </div>
            <div class="text">
              <p class="hidden-sm hidden-lg hidden-md">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
              <p class="buttons">
                <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                <a href="#" class="btn btn-template-transparent-primary">Website</a>
              </p>
            </div>
          </div>
          <!-- /.box-image -->
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="box-image">
            <div class="image">
              <img src="img/portfolio-9.jpg" alt="" class="img-responsive">
            </div>
            <div class="bg"></div>
            <div class="name">
              <h3>
                <a href="portfolio-detail.html">Portfolio box-image</a>
              </h3>
            </div>
            <div class="text">
              <p class="hidden-sm hidden-lg hidden-md">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
              <p class="buttons">
                <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                <a href="#" class="btn btn-template-transparent-primary">Website</a>
              </p>
            </div>
          </div>
          <!-- /.box-image -->
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="box-image">
            <div class="image">
              <img src="img/portfolio-8.jpg" alt="" class="img-responsive">
            </div>
            <div class="bg"></div>
            <div class="name">
              <h3>
                <a href="portfolio-detail.html">Portfolio box-image</a>
              </h3>
            </div>
            <div class="text">
              <p class="hidden-sm hidden-lg hidden-md">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
              <p class="buttons">
                <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                <a href="#" class="btn btn-template-transparent-primary">Website</a>
              </p>
            </div>
          </div>
          <!-- /.box-image -->
        </div>

      </div>

    </section>

  </div>
  <!-- /#contact.container -->

  <section class="bar background-pentagon no-mb">
    <div class="container">
      <div class="row showcase">
        <div class="col-md-3 col-sm-6">
          <div class="item">
            <div class="icon">
              <i class="fa fa-align-justify"></i>
            </div>
            <h4>
              <span class="counter">580</span>
              <br> Websites

            </h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="item">
            <div class="icon">
              <i class="fa fa-users"></i>
            </div>
            <h4>
              <span class="counter">100</span>
              <br> Satisfied Clients</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="item">
            <div class="icon">
              <i class="fa fa-copy"></i>
            </div>
            <h4>
              <span class="counter">320</span>
              <br> Projects

            </h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="item">
            <div class="icon">
              <i class="fa fa-font"></i>
            </div>
            <h4>
              <span class="counter">923</span>
              <br> Magazines and Brochures</h4>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.bar -->

  <section class="bar background-gray no-mb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading text-center">
            <h2>Our clients</h2>
          </div>

          <ul class="owl-carousel customers">
            <li class="item">
              <img src="img/customer-1.png" alt="" class="img-responsive">
            </li>
            <li class="item">
              <img src="img/customer-2.png" alt="" class="img-responsive">
            </li>
            <li class="item">
              <img src="img/customer-3.png" alt="" class="img-responsive">
            </li>
            <li class="item">
              <img src="img/customer-4.png" alt="" class="img-responsive">
            </li>
            <li class="item">
              <img src="img/customer-5.png" alt="" class="img-responsive">
            </li>
            <li class="item">
              <img src="img/customer-6.png" alt="" class="img-responsive">
            </li>
          </ul>
          <!-- /.owl-carousel -->
        </div>
      </div>
    </div>
  </section>
</div>
<!-- /#content -->