<div id="heading-breadcrumbs">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">Detailed Portfolio</h1>
      </div>
      <div class="col-md-5">
        <ul class="breadcrumb d-flex justify-content-end">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/portfolio">Portfolio</a></li>
          <li class="breadcrumb-item active">Portfolio-details</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="content" *ngIf="portfolio" class="hide">
    <div class="container">
        <div class="row bar">
        <div class="col-md-12">
            <div class="heading">
            <h2>{{ portfolio?.name }}</h2>
            </div>

            <p class="lead">Brief discussion about the portfolio category render here...</p>
        </div>
        </div>
        <h5>Select following dropdown option to see selected portfolio projects details</h5>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6">
                <ngx-select-dropdown (change)="changeValue($event)" [multiple]="false" [(value)]="singleSelect" [config]="config" [options]="portfolioNameArray"></ngx-select-dropdown>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="row row-portfolio-pagination">
                    <div class="col-md-12 text-center">
                        <ng-pagination [position]="'right'" [pageSize]="1" [itemsCount]="portfolio.projects.length" [data]="portfolio.projects" (getPageData)="getPageData($event)"></ng-pagination>
        
                        <!-- <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="center">
                                    <div class="pagination">
                                        <a href="#">&laquo;</a>
                                        <a routerLink="/portfolio-details" [queryParams]="{ code: portfolio.code, pid: project.id }" [ngClass]="{ 'active': pid == project.id }" *ngFor="let project of portfolio.projects; let i=index">{{ i+1 }}</a>
                                        <a href="#">&raquo;</a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- /.project owl-slider -->
                    </div>
                </div>
            </div>
            <!-- <div class="col s12 l6 flow-text" >
                <p style="margin: 0;">Balance of selected user: {{singleSelect[0]?.cat_id}}</p>
            </div> -->
        </div>
        <hr>
        <div class="row user-menu-container square" *ngIf="project">
            <div class="col-xs-12 col-sm-12 col-md-7 user-details">
                <div class="row coralbg white">
                    <div class="col-xs-12 col-sm-12 col-md-6 no-pad">
                        <div class="user-pad">
                            <h3>{{ project?.project_name }}</h3>
                            <h4 class="white"><i class="fa fa-user-circle-o"></i> {{ project?.client_name }}</h4>
                            <h4 class="white"><i class="fa fa-th"></i> {{ portfolio?.name }}</h4>
                            <h4 class="white"><i class="fa fa-map-marker"></i> &nbsp;&nbsp;{{ project?.location }}</h4>
                            <button type="button" class="btn btn-labeled btn-info">
                                <span class="btn-label"><i class="fa fa-pencil"></i></span>Update</button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 no-pad">
                        <div class="user-image">
                            <img src="{{ project?.img }}" class="img-responsive thumbnail">
                        </div>
                    </div>
                </div>
                <div class="row overview">
                    <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                        <h3>START DATE</h3>
                        <h4>{{ project?.start_date }}</h4>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                        <h3>END DATE</h3>
                        <h4>{{ project?.end_date }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1 user-menu-btns text-center">
                <div class="btn-group-horizontal square" id="responsive">
                    <a href="#" class="btn btn-default btn-default active">
                    <i class="fa fa-superpowers fa-size"></i>
                    </a>
                    <a href="#" class="btn btn-default">
                    <i class="fa fa-cogs fa-size"></i>
                    </a>
                    <a href="#" class="btn btn-default">
                    <i class="fa fa-camera fa-size"></i>
                    </a>
                    <a href="#" class="btn btn-default">
                    <i class="fa fa-comments fa-size"></i>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 user-menu user-menu-scroll user-pad">
                <div class="user-menu-content active" *ngIf="project.services">
                    <h3>
                        Provided Services
                    </h3>
                    <ul class="user-menu-list">
                        <li *ngFor="let service of project.services">
                            <p><i class="fa fa-check coral"></i> {{ service }}</p>
                        </li>
                    </ul>
                </div>
                <div class="user-menu-content" *ngIf="project.technologies">
                    <h3>
                        Utilized Technologies
                    </h3>
                    <ul class="user-menu-list">
                        <li *ngFor="let tech of project.technologies">
                            <p><i class="fa fa-check coral"></i> {{ tech }}</p>
                        </li>
                    </ul>
                </div>
                <div class="user-menu-content" *ngIf="project.more_img">
                    <h3>
                        Site Photos
                    </h3>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12" *ngFor="let img of project.more_img">
                            <div class="view">
                                <img src="{{ img }}" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-menu-content">
                    <h2 class="text-center">
                        Client Reviews
                    </h2>
                    <p>{{ project?.review }}</p>
                    <div class="share-links text-center">
                        <button type="button" class="btn btn-lg btn-labeled btn-success" href="#" style="margin-bottom: 15px;">
                                <span class="btn-label"><i class="fa fa-bell-o"></i></span>A FINISHED PROJECT
                        </button>
                        <button type="button" class="btn btn-lg btn-labeled btn-warning" href="#">
                                <span class="btn-label"><i class="fa fa-bell-o"></i></span>A WORK IN PROGRESS
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <!-- /.container -->
</div>
<!-- /#content -->

<div id="content">
    <div class="container">
        <div class="row bar">
        <div class="col-md-12 text-center">
            <img src="assets/img/coming-soon.png" alt="" srcset="">
        </div>
        </div>
    </div>
</div>