<div id="heading-breadcrumbs">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">Accordions</h1>
      </div>
      <div class="col-md-5">
        <ul class="breadcrumb d-flex justify-content-end">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Accordions</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<section class="bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <!-- MENUS AND WIDGETS -->
        <div class="panel panel-default sidebar-menu with-icons">
          <div class="panel-heading">
            <h3 class="h4 panel-title">Categories</h3>
          </div>
          <div class="panel-body">
            <ul class="nav nav-pills flex-column text-sm">
              <li class="nav-item"><a href="template-accordions.html" class="nav-link active">Accordions</a></li>
              <li class="nav-item"><a href="template-alerts.html" class="nav-link">Alerts</a></li>
              <li class="nav-item"><a href="template-buttons.html" class="nav-link">Buttons</a></li>
              <li class="nav-item"><a href="template-content-boxes.html" class="nav-link">Content boxes</a></li>
              <li class="nav-item"><a href="template-blocks.html" class="nav-link">Horizontal blocks</a></li>
              <li class="nav-item"><a href="template-pagination.html" class="nav-link">Pagination</a></li>
              <li class="nav-item"><a href="template-tabs.html" class="nav-link">Tabs</a></li>
              <li class="nav-item"><a href="template-typography.html" class="nav-link">Typography</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div id="accordion" role="tablist" class="mb-5">
          <div class="card">
            <div id="headingOne" role="tab" class="card-header">
              <h5 class="mb-0"><a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Accordion Item No.1</a></h5>
            </div>
            <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" class="collapse show">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4"><img src="img/template-easy-customize.png" alt="" class="img-fluid"></div>
                  <div class="col-md-8">
                    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
                    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.                                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div id="headingTwo" role="tab" class="card-header">
              <h5 class="mb-0"><a data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">Accordion Item No.2</a></h5>
            </div>
            <div id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" class="collapse">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4"><img src="img/template-easy-code.png" alt="" class="img-fluid"></div>
                  <div class="col-md-8">
                    <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
                    <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div id="headingThree" role="tab" class="card-header">
              <h5 class="mb-0"><a data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed">Accordion Item No.3 A little too small</a></h5>
            </div>
            <div id="collapseThree" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion" class="collapse">
              <div class="card-body">His room, a proper human room although a little too small, lay peacefully between its four familiar walls.<br>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div id="accordionTwo" role="tablist">
              <div class="card">
                <div id="headingFour" role="tab" class="card-header">
                  <h5 class="mb-0"><a data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">Collapsible group 1</a></h5>
                </div>
                <div id="collapseFour" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordionTwo" class="collapse show">
                  <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
              </div>
              <div class="card">
                <div id="headingFive" role="tab" class="card-header">
                  <h5 class="mb-0"><a data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="collapsed">Collapsible group 1</a></h5>
                </div>
                <div id="collapseFive" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordionTwo" class="collapse">
                  <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
              </div>
              <div class="card">
                <div id="headingSix" role="tab" class="card-header">
                  <h5 class="mb-0"><a data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" class="collapsed">Collapsible group 1</a></h5>
                </div>
                <div id="collapseSix" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordionTwo" class="collapse">
                  <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div id="accordionThree" role="tablist">
              <div class="card">
                <div id="headingSeven" role="tab" class="card-header">
                  <h5 class="mb-0"><a data-toggle="collapse" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">Collapsible group 1</a></h5>
                </div>
                <div id="collapseSeven" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordionThree" class="collapse show">
                  <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
              </div>
              <div class="card">
                <div id="headingEight" role="tab" class="card-header">
                  <h5 class="mb-0"><a data-toggle="collapse" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight" class="collapsed">Collapsible group 1</a></h5>
                </div>
                <div id="collapseEight" role="tabpanel" aria-labelledby="headingEight" data-parent="#accordionThree" class="collapse">
                  <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
              </div>
              <div class="card">
                <div id="headingNine" role="tab" class="card-header">
                  <h5 class="mb-0"><a data-toggle="collapse" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine" class="collapsed">Collapsible group 1</a></h5>
                </div>
                <div id="collapseNine" role="tabpanel" aria-labelledby="headingNine" data-parent="#accordionThree" class="collapse">
                  <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>