<div class="row">
  <div class="col-8">
      
      <video width="500" height="325" controls>
        <source src="assets/videos/dr. rahul baile prism hospital new panvel.mp4" type="video/mp4">
      </video>
    <!-- <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/115098447" allowfullscreen></iframe>
    </div> -->
    <hr>
    <div class="row">
      <div class="col-12 col-md-12">
        <h4>Spread the word!</h4>
      </div>
    </div>
  </div>
  <div class="col-4">
    <h4 class="h6">Video List</h4>
    <ul class="list-unstyled video-list">
      <li class="d-flex align-items-center">
        <div class="image">
          <span class="fa fa-play-circle-o fa-2x"></span>
        </div>
        <div class="text">
          <h5 class="mb-0">
            <a href="#">Video 1</a>
          </h5>
        </div>
      </li>
      <li class="d-flex align-items-center">
        <div class="image">
            <span class="fa fa-play-circle-o fa-2x"></span>
        </div>
        <div class="text">
          <h5 class="mb-0">
            <a href="#">Video 2</a>
          </h5>
        </div>
      </li>
      <li class="d-flex align-items-center">
        <div class="image">
            <span class="fa fa-play-circle-o fa-2x"></span>
        </div>
        <div class="text">
          <h5 class="mb-0">
            <a href="#">Video 3</a>
          </h5>
        </div>
      </li>
    </ul>
    <hr class="d-block d-lg-none">
  </div>
</div>