.home-blog-post .text .intro  {
    min-height: 130px !important;
}

.bar {
    padding: 20px 0 !important;
}

.testimonial .icon .fa-quote-left{
    font-size: medium !important;
}

.video #accordion .card-body{
    /* overflow-y: scroll; */
    height: 350px !important;
} 

.video .panel{
    margin-bottom: 0px !important;
}

.card-header:first-child{
    margin: 0 !important;
    padding: 0 !important;
}

.card {
    margin-bottom: 5px !important;
}
.carousel-indicators{
    bottom: -35px !important;
}