.home-blog-post .text .intro  {
    min-height: 130px !important;
}

.bar {
    padding: 20px 0 !important;
}

.testimonial .icon .fa-quote-left{
    font-size: medium !important;
}

.video #accordion .card-body{
    /* overflow-y: scroll; */
    height: 350px !important;
} 

.video .panel{
    margin-bottom: 0px !important;
}

.card-header:first-child{
    margin: 0 !important;
    padding: 0 !important;
}

.card {
    margin-bottom: 5px !important;
}
.carousel-indicators{
    bottom: -35px !important;
}

.home-carousel h2{
    font-size: 28px !important;
    font-weight: bolder;
    text-shadow: -1px 0 #ffffff, 0 1px black, 1px 0 #ffffff, 0 -1px #fff;
    color: initial;
}

.one-edge-shadow {
	-webkit-box-shadow: 0 10px 20px -4px black;
	   -moz-box-shadow: 0 10px 20px -4px black;
	        box-shadow: 0 10px 20px -4px black;
}

.shadow-b{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-style-1{
    max-width: 100%;
    height: auto;
}
.img-style-1:before, .img-style-1:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 25px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 35px 20px #777;
    -moz-box-shadow: 0 35px 20px #777;
    box-shadow: 0 35px 20px #777;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
 }
 .img-style-1:after {
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
    right: 10px;
    left: auto;
 }