<!-- Home crousel -->
<section style="background: url('img/photogrid.jpg') center center repeat; background-size: cover;" class="bar background-white relative-positioned">
    <div class="container">
      <!-- Carousel Start-->
      <div class="home-carousel">
        <div class="dark-mask mask-primary"></div>
        <div class="container">
          <div class="homepage owl-carousel">
            <div class="item">
              <div class="row">
                <div class="col-md-5 text-right">
                  <p><img src="assets/img/logo.png" alt="" class="ml-auto"></p>
                  <h1>Multipurpose responsive theme</h1>
                  <p>Business. Corporate. Agency.<br>Portfolio. Blog. E-commerce.</p>
                </div>
                <div class="col-md-7"><img src="assets/img/template-homepage.png" alt="" class="img-fluid"></div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-md-7 text-center"><img src="assets/img/template-mac.png" alt="" class="img-fluid"></div>
                <div class="col-md-5">
                  <h2>46 HTML pages full of features</h2>
                  <ul class="list-unstyled">
                    <li>Sliders and carousels</li>
                    <li>4 Header variations</li>
                    <li>Google maps, Forms, Megamenu, CSS3 Animations and much more</li>
                    <li>+ 11 extra pages showing template features</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-md-5 text-right">
                  <h1>Design</h1>
                  <ul class="list-unstyled">
                    <li>Clean and elegant design</li>
                    <li>Full width and boxed mode</li>
                    <li>Easily readable Roboto font and awesome icons</li>
                    <li>7 preprepared colour variations</li>
                  </ul>
                </div>
                <div class="col-md-7"><img src="assets/img/template-easy-customize.png" alt="" class="img-fluid"></div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-md-7"><img src="assets/img/template-easy-code.png" alt="" class="img-fluid"></div>
                <div class="col-md-5">
                  <h1>Easy to customize</h1>
                  <ul class="list-unstyled">
                    <li>7 preprepared colour variations.</li>
                    <li>Easily to change fonts</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel End-->
    </div>
</section>
<!-- /.bar -->

<!-- Video and achivements -->
<section class="bar">
    <div class="video container">
        <div class="row">
            <div class="col-lg-9">
                <div id="accordion" role="tablist" class="mb-5">
                    <div class="card">
                        <div id="headingOne" role="tab" class="card-header">
                            <h5 class="mb-0"><a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Videos</a></h5>
                        </div>
                        <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" class="collapse show">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div id="headingTwo" role="tab" class="card-header">
                            <h5 class="mb-0"><a data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">Awards</a></h5>
                        </div>
                        <div id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" class="collapse">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4"><img src="img/template-easy-code.png" alt="" class="img-fluid"></div>
                                    <div class="col-md-8">
                                        <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
                                        <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div id="headingThree" role="tab" class="card-header">
                            <h5 class="mb-0"><a data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed">Certificates</a></h5>
                        </div>
                        <div id="collapseThree" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion" class="collapse">
                            <div class="card-body">His room, a proper human room although a little too small, lay peacefully between its four familiar walls.<br>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div id="accordionTwo" role="tablist">
                    <div class="card">
                        <div id="headingFour" role="tab" class="card-header">
                            <h5 class="mb-0"><a data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">News Feed</a></h5>
                        </div>
                        <div id="collapseFour" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordionTwo" class="collapse show">
                            <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                        </div>
                    </div>
                    <div class="card">
                        <div id="headingFive" role="tab" class="card-header">
                            <h5 class="mb-0"><a data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="collapsed">Campaign Info</a></h5>
                        </div>
                        <div id="collapseFive" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordionTwo" class="collapse">
                            <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                        </div>
                    </div>
                    <div class="card">
                        <div id="headingSix" role="tab" class="card-header">
                            <h5 class="mb-0"><a data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" class="collapsed">Other</a></h5>
                        </div>
                        <div id="collapseSix" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordionTwo" class="collapse">
                            <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Product section -->
<section class="bg-white bar">
    <div class="container">
        <div class="heading text-center">
            <h2>Our Inovative Products</h2>
        </div>
        <p class="lead">
            Browse the comprehensive range of medical equipment, surgical instruments & hospital products manufactured by Almed Equipment
            <span class="accent">Check our products!</span>
        </p>
        <div class="row">
            <div class="col-lg-3">
                <div class="home-blog-post">
                    <div class="image">
                        <img src="assets/img/default.jpg" alt="" class="img-fluid">
                        <div class="overlay d-flex align-items-center justify-content-center"><a href="#" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
                    </div>
                    <div class="text">
                        <h4><a href="#">O3 Gen Magical Disinfectant</a></h4>
                        <p class="author-category">Brand <a href="#">Almed Equipment</a></p>
                        <p class="intro">Go for the unique solution to improve the quality of air inside operation theater, special rooms, hotel & resort etc.</p><a href="#" class="btn btn-template-outlined">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="home-blog-post">
                <div class="image">
                        <img src="assets/img/default.jpg" alt="" class="img-fluid">
                    <div class="overlay d-flex align-items-center justify-content-center"><a href="#" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
                </div>
                <div class="text">
                    <h4><a href="#">Surgeon Control Panel</a></h4>
                    <p class="author-category">Brand <a href="#">Almed Equipment</a></p>
                    <p class="intro">One of the most useful things for Operation theater, which can be build to control operation theater's activity. Its main feature is that it can be operated using android app from mobile device. </p><a href="#" class="btn btn-template-outlined">Continue Reading</a>
                </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="home-blog-post">
                    <div class="image">
                        <img src="assets/img/default.jpg" alt="" class="img-fluid">
                        <div class="overlay d-flex align-items-center justify-content-center"><a href="#" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
                    </div>
                    <div class="text">
                        <h4><a href="#">PPS with air conditioning</a></h4>
                        <p class="author-category">Brand <a href="#">Almed Equipment</a></p>
                        <p class="intro">Main the positive pressure as per NABH.</p><a href="#" class="btn btn-template-outlined">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="home-blog-post">
                    <div class="image">
                        <img src="assets/img/default.jpg" alt="" class="img-fluid">
                        <div class="overlay d-flex align-items-center justify-content-center"><a href="#" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
                    </div>
                    <div class="text">
                        <h4><a href="#">Shoes Wrapper Machine</a></h4>
                        <p class="author-category">Brand <a href="#">Almed Equipment</a></p>
                        <p class="intro">Wrapp the shoes using machine, plastic wrapper are also available.</p><a href="#" class="btn btn-template-outlined">Continue Reading</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.bar -->

<!-- Service section -->
<section class="bar background-white">
    <div class="container text-center">
        <div class="heading text-center">
            <h2>Our Main Focus</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="box-simple">
                <div class="icon-outlined"><i class="fa fa-desktop"></i></div>
                <h3 class="h4">Modular OT</h3>
                <p>Supplier & Manufacturer of Operation Theatre Equipments & LED Operation Theatre Lights</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="box-simple">
                <div class="icon-outlined"><i class="fa fa-print"></i></div>
                <h3 class="h4">Oxygen Genrator Plant</h3>
                <p>Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets it expense windows shewing do an.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="box-simple">
                <div class="icon-outlined"><i class="fa fa-globe"></i></div>
                <h3 class="h4">Epoxy Services</h3>
                <p>Our expertise are available to help for expoxy flooring. We have given best service to several clients and received positive feedback of our work    from them </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.bar -->

<!-- Testimonial section -->
<section class="bar background-pentagon no-mb text-md-center">
    <div class="container">
        <div class="heading text-center">
        <h2>Testimonials</h2>
        </div>
        <p class="lead">Our client's and vendor's feedback</p>
        <!-- Carousel Start-->
        <ul class="owl-carousel testimonials list-unstyled equal-height">
        <li class="item">
            <div class="testimonial d-flex flex-wrap">
            <div class="text">
                <p>------Sample Testimonial------</p>
                <p>We have installed a modular OT by Almed Equipments, We are thankfull to their expertise and utilization of best technology for our OT installment. They are coorpareted us to build a environment which help to avoid the surgical sight infection. We are specially thankful to Mr. Zakir Shaikh for his effort and innovative idea.</p>
            </div>
            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
                <div class="icon"><i class="fa fa-quote-left"></i></div>
                <div class="testimonial-info d-flex">
                <div class="title">
                    <h5>Usman Shaikh</h5>
                    <p>CEO, UTechSolutions</p>
                </div>
                <div class="avatar"><img alt="" src="assets/img/testimonials/ushaikh6.jpg" class="img-fluid"></div>
                </div>
            </div>
            </div>
        </li>
        <li class="item">
            <div class="testimonial d-flex flex-wrap">
            <div class="text">
                    <p>------Sample Testimonial------</p>
                    <p>We have installed a modular OT by Almed Equipments, We are thankfull to their expertise and utilization of best technology for our OT installment. They are coorpareted us to build a environment which help to avoid the surgical sight infection. We are specially thankful to Mr. Zakir Shaikh for his effort and innovative idea.</p>
            </div>
            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
                <div class="icon"><i class="fa fa-quote-left"></i></div>
                <div class="testimonial-info d-flex">
                <div class="title">
                    <h5>Usman Shaikh</h5>
                    <p>CEO, UTechSolutions</p>
                </div>
                <div class="avatar"><img alt="" src="assets/img/testimonials/ushaikh2.jpg" class="img-fluid"></div>
                </div>
            </div>
            </div>
        </li>
        <li class="item">
            <div class="testimonial d-flex flex-wrap">
            <div class="text">
                    <p>------Sample Testimonial------</p>
                    <p>We have installed a modular OT by Almed Equipments, We are thankfull to their expertise and utilization of best technology for our OT installment. They are coorpareted us to build a environment which help to avoid the surgical sight infection. We are specially thankful to Mr. Zakir Shaikh for his effort and innovative idea.</p>
            </div>
            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
                <div class="icon"><i class="fa fa-quote-left"></i></div>
                <div class="testimonial-info d-flex">
                <div class="title">
                    <h5>Usman Shaikh</h5>
                    <p>CEO, UTechSolutions</p>
                </div>
                <div class="avatar"><img alt="" src="assets/img/testimonials/ushaikh3.jpg" class="img-fluid"></div>
                </div>
            </div>
            </div>
        </li>
        <li class="item">
            <div class="testimonial d-flex flex-wrap">
            <div class="text">
                    <p>------Sample Testimonial------</p>
                    <p>We have installed a modular OT by Almed Equipments, We are thankfull to their expertise and utilization of best technology for our OT installment. They are coorpareted us to build a environment which help to avoid the surgical sight infection. We are specially thankful to Mr. Zakir Shaikh for his effort and innovative idea.</p>
            </div>
            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
                <div class="icon"><i class="fa fa-quote-left"></i></div>
                <div class="testimonial-info d-flex">
                <div class="title">
                    <h5>Usman Shaikh</h5>
                    <p>CEO, UTechSolutions</p>
                </div>
                <div class="avatar"><img alt="" src="assets/img/testimonials/ushaikh4.jpg" class="img-fluid"></div>
                </div>
            </div>
            </div>
        </li>
        <li class="item">
            <div class="testimonial d-flex flex-wrap">
            <div class="text">
                <p>------Sample Testimonial------</p>
                <p>We have installed a modular OT by Almed Equipments, We are thankfull to their expertise and utilization of best technology for our OT installment. They are coorpareted us to build a environment which help to avoid the surgical sight infection. We are specially thankful to Mr. Zakir Shaikh for his effort and innovative idea.</p>
            </div>
            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
                <div class="icon"><i class="fa fa-quote-left"></i></div>
                <div class="testimonial-info d-flex">
                <div class="title">
                    <h5>Usman Shaikh</h5>
                    <p>CEO, UTechSolutions</p>
                </div>
                <div class="avatar"><img alt="" src="assets/img/testimonials/ushaikh5.jpg" class="img-fluid"></div>
                </div>
            </div>
            </div>
        </li>
        </ul>
        <!-- Carousel End-->
    </div>
</section>
<!-- /.bar -->

<!-- Request for demo section -->
<section style="background: url(assets/img/fixed-background-2.jpg) center top no-repeat; background-size: cover;" class="bar no-mb color-white text-center bg-fixed relative-positioned">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="icon icon-outlined icon-lg"><i class="fa fa-file-code-o"></i></div>
        <h3 class="text-uppercase">Do you want quotation?</h3>
        <p class="lead">You can ask for quote for installation and service for your hospital/organization.</p>
        <p class="text-center"><a href="#" class="btn btn-template-outlined-white btn-lg">Request for quote</a></p>
    </div>
</section>
<!-- /.bar -->

<!-- Clients section -->
<section class="bar bg-gray">
    <div class="container">
        <div class="heading text-center">
        <h2>Our Clients</h2>
        </div>
        <ul class="list-unstyled owl-carousel customers no-mb">
        <li class="item"><img src="assets/img/customer-1.png" alt="" class="img-fluid"></li>
        <li class="item"><img src="assets/img/customer-2.png" alt="" class="img-fluid"></li>
        <li class="item"><img src="assets/img/customer-3.png" alt="" class="img-fluid"></li>
        <li class="item"><img src="assets/img/customer-4.png" alt="" class="img-fluid"></li>
        <li class="item"><img src="assets/img/customer-5.png" alt="" class="img-fluid"></li>
        <li class="item"><img src="assets/img/customer-6.png" alt="" class="img-fluid"></li>
        </ul>
    </div>
</section>
<!-- /.bar -->

<!-- GET IT-->
<div class="get-it">
    <div class="container">
        <div class="row">
        <div class="col-lg-8 text-center p-3">
            <h3>Do you want cool website like this one?</h3>
        </div>
        <div class="col-lg-4 text-center p-3">   <a href="#" class="btn btn-template-outlined-white">Buy this template now</a></div>
        </div>
    </div>
</div>
