<div id="heading-breadcrumbs" *ngIf="service">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">Services</h1>
      </div>
      <div class="col-md-5">
        <ul class="breadcrumb d-flex justify-content-end">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/services">Services</a></li>
          <li class="breadcrumb-item active" *ngIf="service">{{ service.name }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="content" class="team-member-detail hide" *ngIf="service">
  <div class="container">
    <section class="bar">
      <div class="row">
        <div class="col-md-12">
          <div class="heading">
            <h2>{{ service.name | uppercase }}</h2>
          </div>
          <p class="lead">{{ service.main_content }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <p>{{ service.details }}</p>
        </div>
        <div class="col-md-4"><img alt="" src="{{ service.img }}" class="img-fluid rounded-circle"></div>
      </div>
    </section>
    <section class="bar pt-0">
      <div class="row">
        <div class="col-md-6">
          <div class="heading">
            <h3>Technical Specification</h3>
          </div>
          <ul class="ul-icons list-unstyled" *ngIf="service.tech_spec">
            <li *ngFor="let spec of service.tech_spec">
              <div class="icon-filled"><i class="fa fa-check"></i></div><a href="#">{{ spec }}</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="heading">
            <h3>Usage</h3>
          </div>
          <ul class="ul-icons list-unstyled" *ngIf="service.usage">
            <li *ngFor="let use of service.usage">
              <div class="icon-filled"><i class="fa fa-check"></i></div><a href="#">{{ use }}</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <div class="heading">
            <h3>Share it</h3>
          </div>
          <ul class="social list-inline">
            <li class="list-inline-item"><a href="#" class="external facebook"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" class="external gplus"><i class="fa fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="#" class="external twitter"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="email"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <section class="bar bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading text-center">
            <h2>Relevant services</h2>
          </div>
          <ul class="list-unstyled customers no-mb" *ngIf="relevantService">
            <carousel>
              <slide *ngFor="let rs of relevantService">
                <div class="slide-content">
                  <img src="{{ rs.img }}" alt="" class="img-fluid">
                  <h5>{{ rs.name }}</h5>
                </div>

              </slide>
            </carousel>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>

<div id="content">
  <div class="container">
    <div class="row bar">
      <div class="col-md-12 text-center">
        <img src="assets/img/coming-soon.png" alt="" srcset="">
      </div>
    </div>
  </div>
</div>